// variables
$margen: 150px;

$colorNegro: black;

$colorGris1: rgb(119, 110, 91);

$colorMadera: burlywood;

$colorBlanco: white;

$imgHeight:800px;

//mixins
@mixin centrarimg{
    background-size: cover;
    background-position: center
}

@mixin border1{
    border-radius: 10px;
    border-style: solid;;
}
