
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* font-family: "Patua One", serif; */
*{
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

.row{
    margin: 0px !important;
}

// variables
$margen: 150px;

$colorNegro: black;

$colorGris1: rgb(119, 110, 91);

$colorMadera: burlywood;

$colorBlanco: white;

$imgHeight:800px;

//mixins
@mixin centrarimg{
    background-size: cover;
    background-position: center
}

@mixin border1{
    border-radius: 10px;
    border-style: solid;;
}

@keyframes efectoimg{
    0%{width: 41.5%}
    50%{width: 35%}
    100%{width: 41,5%}
}

// header
@import './secciones/header.scss';

.call{
    background-image: url('../multimedia/livingroom.jpg');
    @include centrarimg;
    height: $imgHeight;
    @include border1;
    border-color: $colorNegro;

}

.text h1{
    font-size: 60px;
}

.text{
    margin-top: $margen;
    color: $colorBlanco;
    line-height: 28px;
    text-shadow: 0px 0px 8px $colorNegro;
}

.imagen {
    background-image: url('../multimedia/sillonalmohadones.jpg');
    @include centrarimg;
    margin-top: $margen;
    height: 400px;
    @include border1;
    animation-duration: 3s;
    animation-name: efectoimg;
}
a{
    text-decoration: none;
    color:wheat;
    padding: 5px;
    border-radius: 3px;
    background-color: grey;
    margin: 20px;
}

a:hover{
    background-color: $colorNegro;
    color: $colorMadera;
}

.call2{
    background-image: url('../multimedia/massillas.jpg');
    background-size:cover;
    background-position:center;
    height: $imgHeight;
    @include border1;
    border-color: $colorNegro;
}

.imagen2{
    background-image: url('../multimedia/sillas.jpg');
    @include centrarimg;
    margin-top: $margen;
    height: 400px;
    @include border1;
}

.cards{
    margin: 0;
    border-style: solid;
    border-color: $colorNegro;
    text-align: center;
    text-shadow: 0px 0px 4px $colorNegro;
    padding: 0;
}


#card1{
    background-image:url('../multimedia/mesa.jpg');
    @include centrarimg;
    height: $imgHeight;
    margin: 0;
    
}

#card2{
    background-image:url('../multimedia/macetas.jpg');
    @include centrarimg;
    height: $imgHeight;
    margin: 0;
}

#card3{
    background-image:url('../multimedia/accesorios.jpg');
    @include centrarimg;
    height: $imgHeight;
    margin: 0;
}

#card4{
    background-image:url('../multimedia/sillon.jpg');
    @include centrarimg;
    height: $imgHeight;
    margin: 0;
}

.carousel{
    margin-top: 200px;
    height: 200px;
}

.img img{
    height:100px;
}

.footer{
    text-align: center;
    background-color: $colorGris1;
}

.pie{
    width: 50%;
}



.contacto{
    margin-top: $margen !important;
}

.redes img{
    width: 50px;
    height: 50px;
    display:inline;
    margin: 5px;
    background: none;
}
.redes a{
    background-color:$colorGris1 ;
}

.primerseccion{
    background-image:url('../multimedia/fondo3.jpg');
    @include centrarimg;
}

.carousel{
    height: 510px;
    margin-bottom: 5px;
}

.galeria{
    height: 500px;
    padding: 50px;
    
}

.segundaseccion{
    background-image:url('../multimedia/fondo3.jpg');
    @include centrarimg;
}

.tercerseccion{
    background-image:url('../multimedia/fondo3.jpg');
    @include centrarimg;
}

.carousel-item img{
    object-fit:contain;
    object-position: center;
}

.epigrafe{
    color: brown;
    text-shadow: 0 0 5px $colorMadera;
    background-color: rgba(128, 128, 128, 0.562);
    border-radius: 10px;
    padding: 0;
}

.sobremi{
    background-image:url('../multimedia/fondoabout.jpg');
    @include centrarimg;
}

.parrafo{
    margin-top: $margen;
    background-color: rgba(222, 184, 135, 0.767);
}

.parrafo h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: $colorMadera;
    background-color: rgba(255, 255, 255, 0.719);
}
.parrafo h6{
    font-size: 20px;
    text-align: justify;
}

.ig {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacto{
    margin-top: $margen;
    margin-bottom: $margen;
}

.contacto h2{
    text-align: center;
}

.form{
    margin-left: 20px;
    margin-top: 50px;
}

.whatsapp img{
    object-fit: contain;
    object-position: center;
    width: 90%;
}

.maineventos{
    background-color: $colorMadera;
}

.maineventos{
    margin-top: $margen;
}


@import './secciones/media.scss';

