
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* font-family: "Patua One", serif; */
p{
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}
.nav{
    background-color: rgba(128, 128, 128, 0.473);
    color: black !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-link{
    color: black;
    font-weight:bolder;
    font-size: 17px;
    text-shadow: 0px 0px 3px white;
}
.call{
    background-image: url(/multimedia/living-room-8557308_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
}
.text{
    margin-top: 150px;
    color: rgb(204, 204, 204);
}
.imagen {
    background-image: url(../multimedia/sillon+almohadones.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 150px;
    height: 400px;
    border-radius: 10px;
    border-style: solid;
}
.text h1{
    font-size: 60px;
}

@media only screen and (max-width:710px){
    .nav-link{
        font-size: 14px;
    }
}
@media only screen and (max-width:768px){
    .text h1{
        font-size: 30px;
    }
}
@media only screen and (max-width:576px){
    .imagen{
        margin-top: 0;
    }
}